/** @format */

.slides {
  position: relative;

  width: 100%;
  height: 80vh;

  @include unlist();
}

.slide {
  z-index: -999;

  padding: $gap * 2;

  transition: opacity 1s;

  opacity: 0;
  background-color: steelblue;

  @extend %bg-image;

  font-size: $gap * 2;

  @include abs-position;

  &.active {
    opacity: 1;
  }
}
