/** @format */

.slides {
  position: relative;

  width: 100%;
  height: calc(100vh - ($gap * 5));

  @include unlist();
}

.slide {
  z-index: -999;

  padding: $gap * 2;

  transition: opacity 1s;

  opacity: 0;
  background-color: steelblue;

  font-size: $gap * 2;

  @extend %bg-image;
  @include abs-position;

  &.active {
    opacity: 1;
  }
}
